@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Castoro', serif;
  background-color: #393E46;
  color: #F9FAF8;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container .header{
  font-style: italic;
  background-color: #222831;
  padding: 16px;
  font-size: 30px;
}



