@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Castoro', serif;
  background-color: #393E46;
  color: #F9FAF8;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header{
  font-style: italic;
  background-color: #222831;
  padding: 16px;
  font-size: 30px;
}

.final-result{
  margin: 16px 0 5px;
}

.round-result{
  font-size: 20px;
}

.scoreboard{
  border: solid #e5e7eb;
  border-radius: 5px;
  margin: 25px auto;
  width: 220px;
  padding: 10px 15px;
  font-size: 2.5rem;
}

.main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 60px;
}

.title{
  font-style: italic;
  margin-bottom: 16px;
  font-size: 27px;
}

